<div id="<%= dom_id lead %>">
  <p>
    <strong>First name:</strong>
    <%= lead.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= lead.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lead.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= lead.phone %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= lead.note %>
  </p>

</div>
