<div class="lead-main-container">
  <div class="title-container">
    <h1 class="lead-title">Lista de Leads</h1>
  </div>
  <div class="container-buttons">
    <div class="">
      <%= button_to "Volver", pages_dashboard_path, :class => "back-btn", :method => :get %>
    </div>
    <div class="">
      <%= button_to "Crear Lead", new_lead_path, :class => "create-btn", :method => :get %>
    </div>
    <div class="">
      <%= form_tag import_leads_path, multipart: true do %>
          <%= file_field_tag :file, :class => "import-btn" %>
          <% if file_field_tag(:file).present? %>
            <%= submit_tag "Importar", :class => "import-btn"%>
          <% end %>
      <% end %>
    </div>
  </div>
    <% @leads.each do |lead| %>
      <%= link_to "Ver Lead", lead %>
      <%= lead.first_name %>
      <%= lead.last_name %>
      <%= lead.phone %>
      <%= lead.email %>
      <%= lead.id %>
    <% end %>
  <%= paginate @leads, class: "paggy" %>